@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table,
.th,
.td {
  border: 1px solid black;
  text-align: center;
}

.form {
  display: flex;
  width: 100%;
  height: 30vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table {
  width: 80%;
  border-collapse: collapse;
}

.submitBtn {
  background-color: black;
  color: white;
  font-weight: bold;
}

.deleteBtn {
  color: red;
  font-weight: bold;
}

input {
  width: 100%;
  text-align: center;
}

.btn-box {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin-top: 1%;
}

.email-box {
  display: flex;
}

.id-box {
  display: flex;
}
